<!DOCTYPE html>
<html lang="ja">
  <%- include('_head' , {pass:'./css/service.css'}) %>
<body>
  <%- include('_header') %>
  <main>
    <%- include('_service') %>
    <%- include('_contact') %>
  </main>
  <%- include('_footer') %>
  <script src="./js/main.js"></script>
</body>
</html>